.trending-container {
    width: 1128px;
    height: 315px;
}

.trends-bar {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-card {
    position: relative;
    height: 252px;
    width: 180px;
}

.show-poster {
    display: block;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.rank-number {
    position: absolute;
    z-index: 100px;
    left: -52px;
    bottom: 25px;
    height: 120px;
}